@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.about {
  background-color: $primaryColor;

  .about-container {
    padding: 6rem 0;
    color: $secondaryTextColor;
    width: 50%;
    margin: 0 auto;

    .about-title {
      font-weight: 900;
      font-size: 1.75rem;
    }

    .about-text {
      line-height: 1.5;
      font-size: 1.25rem;
      font-weight: 300;
      padding-bottom: 6rem;
    }
  }
}
