@import "../styles/variables.scss";
@import "../styles/colors.scss";

.contact-section {
  display: flex;
  margin-top: 15%;

  .contact-left {
    max-width: 45%;
  }
  .contact-right {
    max-width: 45%;
  }
}
